<h1> Listado de productos fuera de stock de seguridad </h1>

<p> Recordar: Si un producto tiene tildada la opci칩n de "Devuelto" (En la pesta침a Stock), se ignora esta validaci칩n y siempre est치 disponible. </p>

<% Spree::Variant.all.each do |v| %>
	<% if !v.can_supply? %>
		<% 
			description = ""
			if v.is_master?
				description = v.product.name
			else
				description = variant_options v 
			end
		%>
		<p>Id: <%= v.sku %> ### Producto: <%= description %> ### <%= link_to "Agregar Stock", spree.stock_admin_product_url(v.product) %> </p>
		<br>

	<% end %>
<% end %>