<p>Bienvenido <%= @name %>!</p>

<p>
  Gracias por registrarte en <a href="http://www.agc.com.ar"> AGC </a>. Ya podes agregar items a tu carrito y obtener cotizaciones!
  <br>
  Las podes hacer libremente y no implican comprimiso alguno de compra. Quedamos a tu disposición.
</p>


