<% self.title = "Combos" %>

<% if params[:category_id] != "16"%>
  <h1> Combos </h1>
<% else %>
  <h1> Combos más vendidos</h1>
<% end %>

<%= render('spree/shared/sidebar_categories', {category: @category}) %>

<%= render('spree/shared/combo_list', {combos: @combos}) %>

