<div class="row">
  <div class="col-sm-6" data-hook="billing_fieldset_wrapper">
    <div class="panel panel-default" id="billing" data-hook>
      <h4>Wacho</h4>
      <p>Pronto el admin se pondrá en contacto contigo. Chau!</p>
    </div>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:continuar), :class => 'btn btn-lg btn-success' %>
</div>
