<div class="row">
  <div class="col-sm-6" data-hook="billing_fieldset_wrapper">
      <h4>Por favor, confirmá tu order.</h4>
      <p>Pronto nos pondremos en contacto contigo. </p>
    </div>
</div>

 <%= submit_tag Spree.t(:confirmar), :class => 'btn btn-lg btn-success' %>
