<% if defined?(image) && image %>
  <span class="image-helper"></span><%= image_tag image.attachment.url(:product), :itemprop => "image" %>
<% else %>
  <span class="image-helper"></span><%= product_image(@product, :itemprop => "image" ) %>
<% end %>
