<% if defined? combo_line.product.images.first.attachment %>
  <p class="combo-instruction">
    <%= image_tag(combo_line.product.images.first.attachment.url(:mini), class: "thumbnail", style: "margin-bottom: 0px; display:inline-block;") %>
  </p>
<% end %>

<%= combo_line.product.name %>

<%= text_field_tag "combos[#{combo_y_cantidad[:random_id]}]quantity_#{combo_line.product.master.id}", 1,
  class: 'form-control ', value: combo_y_cantidad[:quantity] * combo_line.quantity, readonly: true, min: 0, style:"width:50px; display:inline-block; height: 2em;" %>

<br> <!-- Caso de producto con cantidad fija -->
<br>
