<% self.title = "Combos" %>

<h1> Combos </h1>
<p>Obtenga descuentos comprando directamente productos en combo. Seleccione el que desee y escoja sus preferencias antes de ordenarlo !</p>

<table>
<% Combo.all.each do |c| %>
	<%= render('preview_combo', {combo: c}) %>
<% end %>
</table>