<% self.title = "Combos" %>

<h1> Combos </h1>
<p>Estos son los combos más populares. Si lo desea, puede elegir uno a su medida para agilizar el proceso de selección.</p>

<ul class="comboList">
<% Combo.all.each do |c| %>
  <% if !c.hidden %>
  	<%= render('preview_combo', {combo: c}) %>
  <% end %>
<% end %>
</table>