<% content_for :page_actions do %>
  <% if can?(:fire, order) %>
    <%= event_links(order, events) %>
  <% end %>
  <% if can?(:resend, order) %>
    <%= button_link_to Spree.t(:resend, scope: 'admin.order.events', default: Spree.t(:resend)),
          resend_admin_order_url(order),
          method: :post,
          icon: 'envelope'
    %>
  <% end %>
  <%= link_to admin_order_path(order), class: "btn btn-danger", method: :delete, data: { confirm: 'Estás seguro?' } do %>
    <span class="glyphicon glyphicon-trash"></span>
    Borrar
  <% end %>
<% end %>
