<% if @order.en_local? %>

  <p>LO ESPERAMOS EN NUESTRO LOCAL</p>
  <p>Lunes - Viernes: 9:00-18:00 &nbsp; Sábados: Cerrado</p>
  <p>
    Virrey Cisneros 8649 - Jose León Suarez
    <br>
    Prov. de Buenos Aires – Argentina
  </p>
  <a class="btn btn-primary" href="/contact" style="color:white">Ver mapa</a>
  <br>
  <br>
  <p>
    <a href="mailto:info@agc.com.ar">info@agc.com.ar</a>
  </p>

  PUEDE SEGUIR RECORRIENDO NUESTRA WEB Y SOLICITAR MAS COMBOS O
  PRESUPUESTOS DE PRODUCTOS CARGANDO EL CARRITO

<% elsif @order.transferencia? %>
  <p>DATOS PARA REALIZAR LA TRANSFERENCIA:</p>
  <p>
    Banco Galicia, sucursal: Lomas de Martínez
    <br>
    Caja de Ahorros en pesos N°402129380515
    <br>
    a nombre de Claudio Marenco
    <br>
    CBU: 0070051130004021293853
    <br>
    cuit: 20-14725538-2
  </p>
  <p>
    PUEDE SEGUIR RECORRIENDO NUESTRA WEB Y SOLICITAR MAS COMBOS O
    PRESUPUESTOS DE PRODUCTOS CARGANDO EL CARRITO
  </p>
  


<% elsif @order.mercadopago? %>
  <% if @order.mercadopago_preference_id.present? %>
    <h1>Pagas por mercadopago</h1>
  <% else %>
    <h3>No se pudo generar el link de pago</h3>
    <a href="/contact">Póngase en contacto con nosotros</a> 
  <% end %>
<% end %>
