<div id="checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row" data-hook="checkout_header" style="margin-bottom: 2em;">
    <div class="col-sm-6">
      <h1 data-hook="checkout_title"><%= Spree.t('checkout_steps.'+@state) %></h1>
    </div>
      <div class="col-sm-6" data-hook="checkout_progress">
    </div>
  </div>

  <div class="row" data-hook="checkout_content">
    <div class="col-md-9" data-hook="checkout_form_wrapper">
      <%= render @state %>
    </div>
    <% if false # @state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render partial: "spree/checkout/summary", locals: { order: @order } %>
      </div>
    <% end %>
  </div>
</div>
