<% if params[:status] == 'success' %>
  <h2>PEDIDO FINALIZADO. SU PAGO SE ACREDITÓ CORRECTAMENTE</h2>

  <p>
    PUEDE SEGUIR RECORRIENDO NUESTRA WEB Y SOLICITAR MAS COMBOS O
    <br>
    PRESUPUESTOS DE PRODUCTOS CARGANDO EL CARRITO
  </p>
<% elsif params[:status] == 'pending' %>
  <h2>PEDIDO PENDIENTE DE PAGO. SU PAGO SE ENCUENTRA PENDIENTE</h2>

  <p>
    PUEDE SEGUIR RECORRIENDO NUESTRA WEB Y SOLICITAR MAS COMBOS O
    <br>
    PRESUPUESTOS DE PRODUCTOS CARGANDO EL CARRITO
  </p>
<% elsif params[:status] == 'failure' %>
  <h2>PEDIDO PENDIENTE DE PAGO. SU PAGO NO SE PUDO ACREDITAR</h2>

  <p>
    PUEDE SEGUIR RECORRIENDO NUESTRA WEB Y SOLICITAR MAS COMBOS O
    <br>
    PRESUPUESTOS DE PRODUCTOS CARGANDO EL CARRITO
  </p>
<% end %>
