
<ul class="comboList">
  <% if combos.empty? %>
    <p> No se encontraron combos para la categoría seleccionada </p>
  <% end %>
  <% combos.each do |c| %>
    <% if !c.hidden %>
      <%= render('spree/shared/preview_combo', {combo: c}) %>
      <hr><hr>
      <br><br>
    <% end %>
  <% end %>
</table>


<script >
  $(".quantity-input").on('change click', function() {
    li  = $(this).closest("li");
    let cash = parseFloat(li.find(".hidden-price-cash").text());
    let mercado_pago = parseFloat(li.find(".hidden-price-mercado-pago").text());

    let multiplicator = parseInt(li.find(".quantity-input").val());
    li.find(".price-cash").text("$ "+cash*multiplicator) ;
    li.find(".price-mercado-pago").text("$ "+mercado_pago*multiplicator) ;
  });


  function addImageHandlers() {
    var thumbnails;
    thumbnails = $('.combo-images ul.thumbnails');
    ($('.main-image')).data('selectedThumb', ($('.main-image img')).attr('src'));
    thumbnails.find('li').eq(0).addClass('selected');
    thumbnails.find('a').on('click', function(event) {
      ($('.main-image')).data('selectedThumb', ($(event.currentTarget)).attr('href'));
      ($('.main-image')).data('selectedThumbId', ($(event.currentTarget)).parent().attr('id'));
      thumbnails.find('li').removeClass('selected');
      ($(event.currentTarget)).parent('li').addClass('selected');
      return false;
    });
    thumbnails.find('li').on('mouseenter', function(event) {
      return $(this).closest('.combo-images').find('.main-image img').attr('src', ($(event.currentTarget)).find('a').attr('href'));
    });
    return thumbnails.find('li').on('mouseleave', function(event) {
      return $(this).closest('.combo-images').find('.main-image img').attr('src', ($('.main-image')).data('selectedThumb'));
    });
  };
  
  $(document).ready(function($) {
    addImageHandlers();
  });
</script>
