<footer class="footer" >
<div class="container" style="padding-top:2em; font-size:0.9em">
  <nav>
    <div class="row" >
      
      <div class="col-md-4">
        <a  href="/products">
          <%= image_tag("logo.png", alt: "logo agc", style: "max-height:6em; max-width:100%;") %>
        </a>
        <br><br>
        <p>
          <b>Horarios</b><br> 
          <hr>
          Lunes - Viernes : 8:00-19:00 <br>
          Sábado : 10:00-19:00 <br>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <b> Contacto </b><br>
          <hr>
          Tel:(011) 4729-7481<br>
          Whatsapp: +54911 6051 0878<br>
          <a style="color:white;" href=http://www.agc.com.ar> www.agc.com.ar </a> <a href="mailto:info@agc.com.ar" style="color:white" target="_top">info@agc.com.ar</a><br>
          Virrey Cisneros 8649 - Jose León Suarez<br>
          Prov. de Buenos Aires - Argentina<br>
        </p>
      </div>

      <div class="col-md-4">
        <o>
          <b> Seguinos en las Redes Sociales </b><br>
          <hr>
          <%= render("spree/shared/social_networks") %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        Copyright © 2017 AGC - Desarrollado por <a href="mailto:info@programando.com.ar" style="color:white" target="_top">Programando</a><br>
      </div>
      <div class="col-md-6">
        <a href="http://qr.afip.gob.ar/?qr=QnmRK5mQAYehpmRgiMElxQ,," target="_F960AFIPInfo"><img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" style="max-height: 70px;"></a>
      </div>
    </div>
  </nav>
</div>
</footer>
