<footer class="footer" >
<div class="container" style="padding-top:2em; font-size:0.9em">
  <nav>
    <div class="row text-center" >
      <div class="col-md-4">
        <p>
          <b>Dirección</b><br> 
          <hr> 
          Virrey Cisneros 8649 - Jose León Suarez<br>
          Buenos Aires - Argentina<br>
      	</p>
      </div>
      <div class="col-md-4">
        <p>
          <b> Contacto </b><br>
          <hr>
          Tel:  (5411) 4729-7481<br>
		  Fax: (5411) 4729-7481<br>
		  info@agc.com.ar
      </p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Horarios</b><br> 
          <hr>
          Lunes - Viernes : 8:00-20:00 <br>
          Sábado : 10:00-20:00 </p>
      </div>
    </div>
  </nav>
</div>
</footer>
