<div id="spree-header">
  <header id="header" style="padding-bottom:10px;">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-md-6 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag("logo.png", alt: "logo agc", style: "max-height:6em; max-width:13 em;") %>
          <% end %>
        </div>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
