<div class="col-md-6 col-sm-6 text-right">
  <div class="row">
    <div class="col-sm-12">
      <%= render("spree/shared/social_networks") %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render :partial => 'spree/shared/search' %>
    </div>
  </div>
</div>
