<li>
	<%= link_to combo_seleccionar_cantidad_url(combo) do %>
		<%= image_tag combo.image, style: "max-width:15em; float:left" %>
		<h3><%= combo.code %></h3>
		<%= combo.description %>
	<% end %>
</li>