<aside id="sidebar" class="col-sm-4 col-md-3" data-hook>
  <%= yield :sidebar %>
  <div style="width:200px">
  	<img id="random-img-show" class="img-responsive" style="max-height: 100%"/>
  </div>
</aside>

<script>
$(".list-group-item").click( function () {
	if ($(this).attr("aria-expanded") == "true")
	{
		$(this).find("#arrow-icon").attr("class","fa fa-chevron-down");
	}
	else 
	{
		$(this).find("#arrow-icon").attr("class","fa fa-chevron-up");
	}
});

$(document).ready(function(){
	var arrImages =  <%= raw(Spree::Asset.all.take(300).map { |asset| asset.attachment.url}) %> ;
	setInterval(function() {
		$("#random-img-show").attr("src",arrImages[Math.floor(Math.random() * arrImages.length)]);
	},
	2000);
});

</script>