
<ul id="product-thumbnails" class="thumbnails list-inline" data-hook>
  <li class='vtmb-all tmb-<%=  combo.image.model.id %>'>
    <%= link_to(image_tag(combo.image.url, class: "thumbnail"), combo.image.url) %>
  </li>
  <% combo.images.each do |i| %>
    <li class='vtmb-all tmb-<%=  i.viewable.id %>'>
      <%= link_to(image_tag(i.attachment.url, class: "thumbnail"), i.attachment.url) %>
    </li>
  <% end %>
</ul>

<style>

#product-thumbnails li {
  max-width: 30%;
}
</style>
