<% self.title = "Sobre Nosotros" %>


<h4>
Somos una empresa que, desde 1987, trabaja en el gremio de recreativos, f치bricando productos para el mismo.</h4>

<%= image_tag "Varios Arcade_SD", style:"width:30em; float:right;" %>

<p>
Nos dedicamos a la fabricaci칩n y venta de repuestos y accesorios para:
<ul>
<li> Video Juegos </li>
<li> M치quinas de Manejo </li>
<li> Flippers </li>
<li> Metegoles </li>
<li> Pooles </li>
</ul>

Atendemos durante todo el a침o y no cerramos por vacaciones. 
No dudes en <%= link_to "Contactarnos", spree.contact_path %>.

<p>