<% self.title = "Sobre este sitio" %>

<h1> Preguntas frecuentes </h1>

<h2>¿Por qué no publicamos los precios en este sitio?</h2>
<p>En un principio pusimos en la balanza diversas variables, como  las políticas llevadas a cabo por la competencia y colegas, variabilidad del tipo de cambio de nuestra moneda, entre otras. Decidimos omitir los precios, pero implementamos un práctico sistema de cotización.
</p>

<h2>¿Cómo funciona el sistema de cotización?</h2>
<p>El cliente puede ir cargando su “carrito” con todos los productos que le interesen, ya sea para comprarlos o solamente para solicitar su cotización. Luego selecciona la opción cotizar y tras completar un registro habrá finalizado la solicitud (esto no implica compromiso alguno de compra).  En breve recibirá la cotización y detalles de como proseguir por si le interesara realizar la compra.
</p>

<h2>¿Cada vez que quiera una cotización debo completar los formularios?</h2>
<p>No. El registro como usuario se realiza una única vez. De ahí en adelante puede ingresar al sitio con su mail y contraseña registrados.</p>

<h2>¿No hay posibilidad de acceder a los precios sin tener que solicitar la cotización?</h2>
<p>A los clientes frecuentes* se les mostrará los precios de lista. Igualmente es recomendable pasar por la etapa de cotización, pues en la misma el personal de AGC verificará la existencia de todos los productos y la aplicación de algún potencial descuento sobre el precio de lista.<br>
<p style="font-style: italic">* Clientes Frecuentes: clientes registrados que realizaron más de una compra</p>
</p>

<h2>
Realicé una compra en MercadoLibre ¿Como debo proseguir para elegir los modelos/colores de los productos?
</h2>
<p>
1° Presionar el botón “Mercado Libre”*  <br>
<br>
<%= link_to  spree.mercado_libre_path do %>
  <button class="btn btn-primary"> Mercado Libre </button>
<% end %> 
<br>
<br>
2° Ingresar su nombre de usuario de Mercado Libre*  y el Id del Producto Adquirido (el mismo lo encontrará en la publicación del producto adquirido) <br>

3° Elegir las opciones de modelos/colores que prefiera<br>

4° Ingresar sus datos de Facturación y Envío<br>

5° Presionar en el botón “confirmar”  <br><br>

  <button class="btn btn-primary"> Confirmar </button>
<br>


<p style="font-style: italic">* Mercado Libre es una marca registrada de Mercado Libre S.R.L.</p>
</p>




Si con el contenido de está pagina no lograste satisfacer tu duda:
  <br>
<br>

<%= link_to  spree.contact_path do %>
  <button class="btn btn-primary"> Contacto </button>
<% end %> 


